@import "styles/colors.scss";
.stakingForm {
  display: flex;
  flex-direction: column;
  text-align: center;

  .headingContainer {
    margin-bottom: 20px;
    color: $color-light-purple;
    font-size: 24px;
    font-family: "Aeonik";
  }

  .buttonsContainer {
    margin-bottom: 12px;
    input {
      width: 90px;
      color: $color-light-purple;
      text-align: right;
      border-color: $color-light-purple;
    }
  }

  .balance {
    margin-bottom: 28px;

    .amount {
      color: $color-light-purple;
      font-weight: bold;
    }
  }

  .submitContainer {
    text-align: center;
    margin-bottom: 28px;

    button {
      width: 50%;
      font-size: 16px;
    }
  }

  .back img {
    margin-right: 6px;
    width: 16px;
    position: relative;
    top: 2px;
  }
}

@media screen and (max-width: 800px) {
  .stakingForm {
    .header {
      margin: auto;
    }
  }
}
