@import "styles/colors.scss";
.txHistory {
  .topSection {
    .subtitle {
      padding-bottom: 12px;
    }
    .loading {
      display: flex;
      i {
        margin-right: 6px;
        font-size: 18px;
        color: $button1-color;
      }
    }
  }

  .body {
    .gridArea {
      .reloadButton {
        margin-bottom: 16px;
        color: $button1-color;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        background-color: #eeeeee;

        &.small {
          display: none;
        }

        &.large {
          border-radius: 20px;
          .columnHeader,
          .cell {
            padding: 20px;
          }

          .columnHeader {
            color: $color-white;
            border-bottom-width: 8px;
            border-bottom-style: solid;
            box-shadow: 3px 3px 8px #00000029;

            .subheader {
              font-size: 12px;
              margin-top: 8px;
            }
          }

          div.columnHeader:nth-child(1) {
            border-top-left-radius: 20px;
            background-color: $color-light-purple;
            border-bottom-color: $color-pink;
          }
          div.columnHeader:nth-child(2) {
            background-color: $color-bluegreen;
            border-bottom-color: #64b0c8;
          }
          div.columnHeader:nth-child(3) {
            background-color: $color-darkpink;
            border-bottom-color: $color-pink;
          }
          div.columnHeader:nth-child(4) {
            background-color: #5bcaa9;
            border-bottom-color: #57dea6;
          }
          div.columnHeader:nth-child(5) {
            background-color: #64b0c8;
            border-bottom-color: #39a1d8;
          }
          div.columnHeader:nth-child(6) {
            border-top-right-radius: 20px;
            background-color: #bf62a8;
            border-bottom-color: #ffa2ce;
          }

          .cell {
            border-bottom: 2px solid #b2b2b2;
            .assets {
              white-space: nowrap;
              .amount,
              .name {
                display: inline-block;
              }
            }

            .etherscanLink {
              color: $button4-color;
            }

            &:nth-last-child(-n + 6) {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 985px) {
  .txHistory {
    .body {
      .gridArea {
        .grid {
          background-color: unset;

          &.small {
            display: block;
          }
          &.large {
            display: none;
          }

          .card {
            border: 1px solid $color-lightblue;
            border-top: 6px solid $color-lightblue;
            // border: 2px solid $color-black;
            border-radius: 0 0 20px 20px;
            box-shadow: 3px 3px 8px #00000029;
            padding: 16px;
            margin-bottom: 18px;

            .columnHeader {
              &.out,
              &.in {
                font-weight: bold;
              }

              &.etherscan {
                display: inline-block;
                font-weight: bold;
                margin-right: 6px;
              }
            }

            .assetsContainer {
              margin-bottom: 18px;

              .assets {
                margin-bottom: 12px;
                .asset {
                  display: flex;
                  justify-content: flex-start;

                  .amount {
                    margin-right: 4px;
                  }
                }
              }
            }

            > .name {
              font-weight: bold;
              color: $color-light-purple;
            }

            > .type {
              margin-bottom: 18px;
              display: inline-block;
            }

            > .date {
              display: inline-block;
            }

            > .etherscan {
              display: inline-block;
              .etherscanLink {
                color: $button4-color;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .txHistory {
    text-align: center;

    .topSection {
      .subtitle {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .loading {
        justify-content: center;
      }
    }

    .body {
      .gridArea {
        .grid {
          text-align: center;
          .card {
            .assetsContainer {
              .assets {
                .asset {
                  justify-content: center;
                }
              }
            }

            > .type {
              margin-bottom: 0;
              display: block;
            }

            > .date {
              margin-bottom: 18px;
            }
          }
        }
      }
    }
  }
}
