@import "styles/colors.scss";
.primeToken {
  .topSection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
      "firstRow mmButton"
      "secondRow mmButton";
    align-items: center;
    margin-bottom: 40px;

    .firstRow {
      grid-area: firstRow;
      align-items: center;
      display: flex;
      margin-bottom: 20px;
      .logo {
        width: 96px;
        margin-right: 16px;
      }
      .title {
        font-family: "Aeonik";
        font-size: 52px;
        line-height: 56px;
      }
    }

    .mmButton {
      grid-area: mmButton;
      margin-left: auto;
    }

    .secondRow {
      grid-area: secondRow;
      font-size: 21px;
      line-height: 25px;
      color: $color-light-purple;
    }
  }

  .blobs {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    margin-bottom: 40px;
    justify-content: space-between;

    .blob {
      font-family: "Aeonik";
      box-shadow: 3px 3px 8px #00000029;
      border-radius: 20px;
      color: $color-white;
      text-align: center;
      padding: 30px;
      margin-bottom: 20px;

      .title {
        font-size: 27px;
        line-height: 56px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 6px solid $color-lightblue;
        white-space: nowrap;
      }

      .body {
        padding-bottom: 20px;
        border-bottom: 6px solid $color-lightblue;
      }

      &.supply {
        background-color: $color-bluegreen;
        > .body {
          font-size: 38px;
          line-height: 42px;
        }
      }
      &.staked {
        background-color: $color-light-purple;
        > .body {
          font-size: 27px;
          line-height: 33px;
          display: flex;
          justify-content: space-between;
        }
      }

      &.price {
        background-color: #ae5cff;
        > .body {
          font-size: 38px;
          line-height: 42px;
        }
      }
    }

    .description {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 20px;

      > a {
        color: $color-light-purple;
      }
    }
  }

  .buttons {
    text-align: center;
    padding: 30px;

    > div {
      display: inline-flex;
    }

    a {
      font-size: 14px;
    }

    > div:first-child {
      margin-right: 8px;
    }

    .mmButton2 {
      display: none;
    }
  }
}

@media screen and (max-width: 1345px) {
  .primeToken {
    max-width: 60%;
    text-align: center;
    margin: auto;

    .topSection {
      grid-template-columns: 1fr;
      grid-template-areas:
        "firstRow"
        "secondRow";

      .firstRow {
        flex-direction: column;
      }

      .mmButton {
        display: none;
      }

      .secondRow {
        grid-area: secondRow;
      }
    }
    .blobs {
      grid-template-columns: 1fr;
      grid-template-areas:
        "supply"
        "supplyDescription"
        "staked"
        "stakedDescription"
        "price"
        "priceDescription";

      .blob {
        .title {
          white-space: unset;
        }

        &.supply {
          grid-area: supply;
        }
        &.staked {
          grid-area: staked;
          > .body {
            flex-direction: column;

            > div:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }
        &.price {
          grid-area: price;
        }
      }

      .description {
        font-size: 15px;
        line-height: 25px;

        &.supply {
          grid-area: supplyDescription;
        }
        &.staked {
          grid-area: stakedDescription;
        }
        &.price {
          grid-area: priceDescription;
        }
      }
    }

    .buttons {
      margin: auto;
      display: flex;
      flex-direction: column;

      > div:not(:last-child) {
        margin-bottom: 18px;
      }

      > div:first-child {
        margin-right: unset;
      }

      a {
        width: 100%;
      }

      .mmButton2 {
        display: unset;

        button.mmTokenButton {
          width: 100%;
          font-size: 14px;

          img {
            width: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .primeToken {
    max-width: unset;

    .buttons {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
