.donutChart {
  .center-txt-container {
    display: none;
    &.show {
      display: inline-block;
    }
    .center-txt {
      font-size: 10px;
      font-family: Aeonik;

      &.label {
        font-weight: bold;
      }

      .icon {
      }

      .perc {
        .label {
        }
        .value {
        }
      }

      .price {
        .label {
        }
        .value {
        }
      }

      .daychange {
        .label {
        }
        .icon {
        }
        .value {
        }
      }
    }
  }
}
