.donutChart {
  .centerTextContainer {
    display: none;
    &.show {
      display: inline-block;
    }
    .lines {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 100%;
      justify-content: center;

      .line {
        font-size: 12px;
        font-family: Aeonik;
        white-space: nowrap;

        .label,
        .value,
        .direction {
          display: inline-block;
        }

        &.icon {
          height: 30px;
          img {
            width: 26px;
            border-radius: 13px;
          }
        }

        &.perc,
        &.price,
        &.daychange {
          display: inline-block;

          .label {
            font-weight: bold;
          }
        }
      }
    }
  }
}
