@import "styles/colors.scss";
.appWrapper {
  display: grid;
  grid-template-columns: 207px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo header"
    "sidebar mainContent";
  height: 100%;

  > .logo {
    grid-area: logo;
    background-color: $color-black;
    align-items: center;
    // just for vertical alignment of the logo
    display: flex;
    justify-content: center;

    img {
      margin-right: 10px;
    }
  }

  .appHeader {
    grid-area: header;
    text-align: right;
    display: flex;
    align-items: center;
    background-color: $color-black;
    height: 76px;

    .networkfeedback {
      color: $color-white;
      margin-left: 10px;
      text-align: left;
      .testnet {
        color: $color-red;
      }
    }

    .connectButton {
      flex-grow: 2;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .sidebarContainer {
    z-index: 10000; // so stays above model screen
    .sidebar {
      grid-area: sidebar;
      padding: 20px 0;

      .menuitems {
        margin-bottom: 20px;
        a.item {
          display: block;
          margin-bottom: 6px;
          padding: 14px 20px;

          &.active,
          &:hover {
            background-color: #9478ff;
            border-right: 6px solid #694ae2;
          }

          .text {
            display: flex;
            justify-items: center;

            img {
              width: 14px;
              padding-right: 16px;
            }
          }
        }

        .poolItems {
          > a.item {
            padding-top: 0;
            padding-bottom: 16px;

            > .text {
              font-size: 11px;
              display: flex;
              justify-items: center;

              > img {
                padding-left: 3px;
                padding-right: 19px;
                width: 9px;
              }
            }
          }

          > a.item:last-child {
            padding-bottom: 0;
          }
        }
      }

      .appFooter {
        padding: 0 20px;
        position: fixed;
        bottom: 30px;
        .links {
          text-decoration: underline;
          font-size: 11px;
          margin-bottom: 16px;
          display: flex;
          justify-content: space-between;
        }

        .social {
          border-bottom: 2px solid #1ee0fc;
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          padding-bottom: 16px;

          a {
            img {
              width: 16px;
            }
          }
        }

        .logo {
          align-items: center;
          display: flex;
          img {
            width: 24px;
            margin-right: 6px;
          }
          .text {
            font-size: 6px;
            display: inline-block;
          }
        }
      }
    }
  }

  .mainContent {
    grid-area: mainContent;
    background-color: $color-white;
    color: $color-black;

    .page {
      padding: 60px;

      .title {
        font-size: 34px;
        font-family: "Cera Pro";
        margin-bottom: 18px;
      }
    }
  }
}
